.container-fluid {
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: #343a40;
  color: white;
  font-size: 35px;
  font-weight: bold;
}
.h1title {
  color: #777a83;
  font-size: 25px;
}
.input-group-text {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}
.input-group-text:hover {
  border: 2px solid #007bff;
}
.list-group-item {
  height: 55px;
  width: 85%;
  margin-left: 10px;
}
.list-group {
  width: 200px;
}
.main-container {
  display: flex;
  flex-direction: row;
}
p {
  color: blanchedalmond;
  background-color: #007bff;
  border-radius: 5px;
}
#root {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    margin-bottom: 8px;
    margin-top: 5px;
}
